<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="home">effects</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item" routerLinkActive="active">
          <a aria-current="page" class="nav-link active" routerLink="home">Home</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="home">User</a>
        </li>
      </ul>
      <div class="d-flex">
        <input #userIdInputField
               (keyup.enter)="onSearchUserId(userIdInputField.value)"
               aria-label="Search"
               class="form-control me-2"
               placeholder="Search user id"
               type="search">
        <button (click)="onSearchUserId(userIdInputField.value)"
                class="btn btn-outline-success"
                type="button">
          Search
        </button>
      </div>
    </div>
  </div>
</nav>
